
<center>
	<br>
	<br>
	<h3>Добавяне / Редактиране на фирма</h3>
	<p><font color="red"><?php print $errorMsg; ?></font></p>
	<form action="index.php" method="post">
		<input type="hidden" name="cmd" value="<?php print $cmd; ?>">
		<input type="hidden" name="sid" value="<?php print $sid; ?>">
		<table cellpadding="5">
			<tr>
				<td align="right">Име:</td>
				<td><input type="text" name="data[NameF]" value="<?php print $NameF; ?>" size="30"></td>
			</tr>
			<tr>
				<td align="right">Адрес:</td>
				<td><input type="text" name="data[Adres]" value="<?php print $Adres; ?>" size="30"></td>
			</tr>
			<tr>
				<td align="right"><input type="submit" value=" Запази "></td>
				<td><input type="button" value=" Откажи " onClick="javascript:window.location='index.php?cmd=browseFirms'"></td>
			</tr>
		</table>
	</form>
</center>
