<tr bgcolor="<?=$bgColor;?>">
	<td><b><?=$CodM;?></b></td>
	<td><b><?=$Type;?></b></td>
	<td><b><?=$NameM;?></b></td>
	<td><b><?=$AdresM;?></b></td>
	<td><b><?=$Boss;?></b></td>
	<td><b><?=$NameF;?></b></td>
	<td>
		<center>
			<a class="inner" href="index.php?cmd=editShop&CodM=<?=$CodM;?>">
				<img src="images/edit.png" width="16" height="16">
			</a>
		</center>
	</td>
	<td>
		<center>
			<a class="inner" href="index.php?cmd=deleteShop&CodM=<?=$CodM;?>">
				<img src="images/delete.png" width="16" height="16">
			</a>
		</center>	
	</td>	
</tr>