<tr bgcolor="<?=$bgColor;?>">
	<td><b><?=$Id;?></b></td>
	<td><b><?=$magName;?></b></td>
	<td><b><?=$mesName;?></b></td>
	<td><b><?=$StPlan;?></b></td>
	<td><b><?=$StIzp;?></b></td>
	<td>
		<center>
			<a class="inner" href="index.php?cmd=editSale&Id=<?=$Id;?>">
				<img src="images/edit.png" width="16" height="16">
			</a>
		</center>
	</td>
	<td>
		<center>
			<a class="inner" href="index.php?cmd=deleteSale&Id=<?=$Id;?>">
				<img src="images/delete.png" width="16" height="16">
			</a>
		</center>	
	</td>
</tr>